.pets-fields.pets-information {
  padding: 0;
  margin: 0 0 1em 0;
  list-style-type: none;
  text-align: right;
}
.pets-fields.pets-information:after {
  display: table;
  content: '';
  clear: both;
}
.pets-fields.pets-information .pets-field-title {
  float: left;
}
.pets-fields.pets-information li {
  clear: both;
  padding: 0.25em 0;
  margin: 0.25em 0;
}
.pets-fields.pets-information li:not(:last-child) {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.pets-fields.pets-information li .pets-button {
  padding: 1em;
  line-height: 1;
  font-size: 9px;
  border-radius: 3px;
  border: none;
}
.pets-fields.pets-information li .pets-button:hover {
  border: none;
}
.wrap-pets {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 0 2em;
}
.pets-grid {
  display: flex;
  flex-wrap: wrap;
}
.pets-grid:after {
  content: '';
  clear: both;
  display: table;
}
.pet-alert {
  padding: 10px 10px 10px 40px;
  background-color: #f1c40f;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
}
.pet-alert .pet-logo {
  width: 25px;
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.pet-alert .pet-logo path {
  fill: rgba(0, 0, 0, 0.5);
}
.post-type-archive-pets .type-pets {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .post-type-archive-pets .type-pets {
    width: 45%;
  }
  .post-type-archive-pets .type-pets:not(:nth-child(2n+2)) {
    margin-right: 10%;
  }
}
@media screen and (min-width: 769px) {
  .post-type-archive-pets .type-pets {
    width: 30%;
  }
  .post-type-archive-pets .type-pets:not(:nth-child(3n+3)) {
    margin-right: 5%;
  }
}
.post-type-archive-pets .type-pets .pet-content,
.post-type-archive-pets .type-pets .pet-title {
  padding: 0 0.5em;
}
.post-type-archive-pets .type-pets .pet-image {
  width: 100%;
  overflow: hidden;
  background: #efefef;
  position: relative;
  margin-bottom: 0.5em;
}
.post-type-archive-pets .type-pets .pet-image img {
  max-width: 100%;
  height: auto;
  display: block;
}
.post-type-archive-pets .type-pets .pet-image svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.post-type-archive-pets .type-pets .pet-image svg path {
  fill: rgba(0, 0, 0, 0.5);
}
.post-type-archive-pets .type-pets:not(.has-post-thumbnail) .pet-image {
  height: 200px;
}
.pets-search-form {
  margin-bottom: 1em;
  padding: 1em;
  background: #f1c40f;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.pets-search-form:after {
  content: '';
  clear: both;
  display: table;
}
.pets-search-form .fieldset {
  border: none;
  display: flex;
  flex-flow: row wrap;
}
@media screen and (min-width: 481px) {
  .pets-search-form .fieldset {
    flex-flow: row;
  }
}
.pets-search-form .fieldset:after {
  content: '';
  clear: both;
  display: table;
}
.pets-search-form .search-field {
  margin: 0 0.5em 0.5em 0;
  width: 100%;
}
.pets-search-form .search-field select,
.pets-search-form .search-field input:not([type=checkbox]):not([type=radio]) {
  width: 100%;
}
.pets-search-form .search-field:last-child {
  margin-right: 0;
}
.pets-search-form .search-field label {
  margin: 0;
}
.pets-search-form .button {
  height: 50px;
  padding: 10px 1.5em;
  line-height: 30px;
  border-radius: 5px;
  background-color: #927608;
  border: none;
  box-shadow: none;
}
.pets-search-form .button:hover {
  background-color: #010100;
}
.pets-widget-form .pets-search-form {
  padding: 0;
  background: transparent;
  box-shadow: none;
}
.pets-widget-form .pets-search-form .fieldset {
  display: block;
}
.pets-section-title span[class*="fa"],
.pets-section-title img {
  margin-right: 10px;
}
.pet-header {
  position: relative;
}
.pet-header .pet-missing {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
  background: #ff6e15;
  color: white;
}
.pets-errors {
  margin: 0 0 20px 0;
  list-style: none;
}
.pets-errors .pets-error {
  padding: 10px;
  background: #ff6e15;
  color: white;
}
.pets-notices {
  margin: 0 0 20px 0;
  list-style: none;
}
.pets-notices .pets-notice {
  padding: 10px;
  background: #61ce70;
  color: white;
}
