.pets-form-add-field {
  background: white;
  margin-top: 20px;
  padding: 1em;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  .field {
    display: block;
    width: 49%;
    float: left;

    &:nth-child(2n) {
      margin-left: 1%;
    }

    &:nth-child(2n+1) {
      clear: both;
    }

    &.field-meta {
      width: 100%;
      margin-top: 1em;

      .pets-field-meta-input {
        padding-right: 25px;
        position: relative;

        .pets-remove-meta-field {
          position: absolute;
          top: 0;
          right: 0;
        }

        &:first-child {
          .pets-remove-meta-field { display:none; }
        }
      }
    }
  }

  .pets-submit {
    margin-top: 1em;
    clear: both;
  }
}

#pets_field_icon {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.pets-section-title {
  background: rgba( 0, 0, 0, 0.15 );
  padding: 0.5em !important;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: auto;
    margin-right: 10px;
  }

  span[class*="fa"] {
    margin-right: 10px;
  }
}